click==8.1.7
hdbscan==0.8.37
huggingface_hub==0.24.0
matplotlib==3.7.0
numpy==1.24.4
opencv_contrib_python_headless==4.10.0.84
opencv_python_headless==4.10.0.84
pandas==2.2.2
Pillow==10.4.0
pyephem==9.99
pytz==2024.1
scikit_learn==1.4.0rc1
seaborn==0.13.2
scikit-image==0.18.3
torch==2.3.1
torchvision==0.18.1
tqdm==4.66.4
transformers==4.42.4
umap_learn==0.5.5