pillow
bs4
opencv-contrib-python
sahi
mmdet==2.21.0
mmengine==0.7.2
click
hdbscan==0.8.33
torch
tator
piexif
yolov5==7.0.13
torchvision
transformers
timm
pandas>=1.2.4
ultralytics
python-dotenv
pascal-voc-writer
scikit-learn==1.4.0rc1
scikit-image
plotly
pytest
huggingface-hub==0.19.4
umap-learn==0.5.5
hdbscan>=0.8.27
matplotlib==3.7.0
numba==0.57
ephem
jupyter
