pillow
bs4
opencv-contrib-python-headless
sahi
mmdet==2.21.0
mmengine==0.7.2
click
hdbscan==0.8.33
torch==2.3.1
piexif
yolov5==7.0.13
torchvision==0.18.1
transformers[torch]
timm
pandas>=1.2.4
ultralytics
scikit-learn==1.4.0rc1
scikit-image
huggingface-hub==0.19.4
umap-learn==0.5.5
hdbscan>=0.8.27
matplotlib==3.7.0
numba==0.57
ephem
tqdm 
